
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("../imgs/pattern.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #4EA0FF;
    height: 100px;
}

h1 {
    margin-top: 10px;
    font-size: 40px;
}


#Logo {
    width: 250px;
    margin-top: 25px;
}
main{
    margin-left: 5px;
}
.list{
    margin-left:15px ;
    margin-bottom: 20px;
}

.photo-description{
    font-size: 10px;
}

.write{
    margin-bottom: 20px;
    color: grey;
}
table{
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
}

thead{
    background-color: #20A9E5;
    color: white;
    text-align: left;
}
.light-blue{
    background-color: #B1E5F2;
}

.table-50{
    width: 50%;
}

span {
    color: #2BADE6;
    font-weight: 600;
}

.text-highlighted{
    margin: 25px 0;
}