header {
    background-image: url("../imgs/pattern.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: aqua;
    height: 100px;
}

#Logo {
    width: 250px;
    margin-top: 20px;
}